<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h2>Create a new Listing</h2>
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="enter title"
          type="text"
          required
          class="form-control"
        />
        <div class="invalid-feedback">Title name should be valid.</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          required
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          type="text"
        ></textarea>
        <div class="invalid-feedback">Description should be valid.</div>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            name="listing[image]"
            required
            class="form-control"
            type="file"
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            required
            placeholder="enter price"
            class="form-control"
            type="number"
          />
          <div class="invalid-feedback">Price should be valid.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            required
            class="form-control"
            placeholder="enter country"
            type="text"
          />
          <div class="invalid-feedback">Country name should be valid.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          required
          class="form-control"
          placeholder="enter location"
          type="text"
        />
        <div class="invalid-feedback">Location should be valid.</div>
      </div>
      <br />
      <button class="btn btn-dark add-btn">Add</button>
    </form>
    <br /><br />
  </div>
</div>
